@import url('https://fonts.cdnfonts.com/css/doris-pp');
@import url('https://fonts.cdnfonts.com/css/sunday-brunch');
@import "tailwindcss";

@theme {
  --font-doris: 'Doris PP', sans-serif;
  --font-sunday: 'Sunday Brunch', sans-serif;
  --animate-fadeIn: fadeIn 5s ease-in-out;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
}